.ImagenUsuario
{
    margin-top: 50px;
    height: 200px;
    width: 200px;
    text-align: center;
    display: block;
    margin: auto;
}

a
{
    margin-top: 50px;
}

.Inputs
{
    color: white;
    width: 95%;
    margin-top: 10px;
}

.boton
{
    width: 80%;
    height: 50px;
    font-size: 25px;
    margin-top: 70px;
    margin-left: 35px;
}

.registro
{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.titulo
{
    text-align: center;
    color: #00B6E6;
}

h2
{
    margin-top: 50px;
}

.FotoPerfil
{
    text-align: center;
    display: block;
}