<ion-content padding class="backgroundColor">

  <ion-label class="titulo">Cóntactos</ion-label>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="titulo-card">Contacto #1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="contenido-card">
      Nombre: Brandon Uriel García Ramos
      Teléfono: 3325365558
      Correo Electrónico: brandon@imsoft.com
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="titulo-card">Contacto #2</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="contenido-card">
      Nombre: Brandon Uriel García Ramos
      Teléfono: 3325365558
      Correo Electrónico: brandon@imsoft.com
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="titulo-card">Contacto #3</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="contenido-card">
      Nombre: Brandon Uriel García Ramos
      Teléfono: 3325365558
      Correo Electrónico: brandon@imsoft.com
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="titulo-card">Contacto #4</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="contenido-card">
      Nombre: Brandon Uriel García Ramos
      Teléfono: 3325365558
      Correo Electrónico: brandon@imsoft.com
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="titulo-card">Contacto #5</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="contenido-card">
      Nombre: Brandon Uriel García Ramos
      Teléfono: 3325365558
      Correo Electrónico: brandon@imsoft.com
    </ion-card-content>
  </ion-card>
  
</ion-content>
