<ion-content padding class="backgroundColor">

  <ion-img class="logo" src="/assets/Logo_SIApp.png"></ion-img>

  <ion-item class="Inputs">
    <ion-label position="floating">Correo electrónico</ion-label>

    <ion-input type="email" 
               name="TxtEmail" 
               pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
               required>
    </ion-input>    
  </ion-item>

  <ion-item class="Inputs">
    <ion-label position="floating">Contraseña</ion-label>

    <ion-input type="password" 
               name="TxtPassword"
               required>
    </ion-input>    
  </ion-item>

  <ion-button class="boton" expand="block" fill="outline">Iniciar Sesión</ion-button>

</ion-content>
