.informacion-usuario
{
    margin-top: 30px;
    color: white;
}

.etiquetas
{
    color: white;
}

.iconos
{
    height: 100px;
    width: 100px;
}

.boton
{
    text-align: center;
}

.botones
{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.imagen
{
    margin-top: 30px;
}