<ion-content padding class="backgroundColor">

  <div class="FotoPerfil">
      <h1 class="registro">Registro</h1>
      <ion-img class="ImagenUsuario" src="/assets/Usuario.png"></ion-img>
      <a href="#">Agregar foto de perfil</a>
  </div>

  <h2 class="titulo">Información Contacto</h2>

  <ion-item class="Inputs">
      <ion-label position="floating">Nombre(s)</ion-label>
      <ion-input type="text" name="TxtNombre" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" name="TxtApellidos" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="text" name="TxtCorreoElectronico" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
      <ion-label position="floating">Telefóno</ion-label>
      <ion-input type="text" name="TxtTelefono" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
    <ion-label position="floating">Edad</ion-label>
    <ion-input type="text" name="TxtEdad" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
    <ion-label position="floating">Parentesco</ion-label>
    <ion-input type="text" name="TxtParentesco" required> </ion-input>
  </ion-item>

  <h2 class="titulo">Dirección Contacto</h2>

  <ion-item class="Inputs">
      <ion-label position="floating">Calle</ion-label>
      <ion-input type="text" name="TxtCalle" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
      <ion-label position="floating">Colonia</ion-label>
      <ion-input type="text" name="TxtColonia" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
      <ion-label position="floating">Número Exterior</ion-label>
      <ion-input type="text" name="TxtNumeroExterior" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
      <ion-label position="floating">Número Interior</ion-label>
      <ion-input type="text" name="TxtNumeroInterior" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
      <ion-label position="floating">Referencias</ion-label>
      <ion-input type="text" name="TxtReferencias" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
      <ion-label position="floating">Código Postal</ion-label>
      <ion-input type="text" name="TxtCodigoPostal" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
      <ion-label position="floating">Ciudad</ion-label>
      <ion-input type="text" name="TxtCiudad" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
      <ion-label position="floating">Estado</ion-label>
      <ion-input type="text" name="TxtEstado" required> </ion-input>
  </ion-item>

  <h2 class="titulo">Código de seguridad</h2>

  <ion-item class="Inputs">
      <ion-label position="floating">Ingresa tu código</ion-label>
      <ion-input type="password" name="TxtCodigo" required> </ion-input>
  </ion-item>

  <ion-item class="Inputs">
      <ion-label position="floating">Confirma tu código</ion-label>
      <ion-input type="password" name="TxtConfirmacion" required> </ion-input>
  </ion-item>

  <ion-button class="boton" expand="block" fill="outline">Guardar</ion-button>

</ion-content>
