.Inputs
{
    color: white;
    width: 95%;
    margin-top: 10px;
}

.titulo
{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 40px;
}

.mapa
{
    margin-top: 40px;
}

.imagen
{
    height: 100px;
    width: 100px;
    background: none;
    position: fixed;
    top: 75%;
    right: 1px;
}